.Separator {
    width: 100%;
    height: 1%;
    margin: 4% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Separator_FirstLine {
    height: 40%;
    margin-left: 10%;
    background-color: var(--main-color);
}

.Separator_SecondLine {
    height: 20%;
    margin-left: 20%;
    background-color: var(--main-color);
}