.LeftSection {
    width: 27%;
    height: 100%;
    background-color: var(--main-color);
}

.LeftSection_Margin {
    height: 5%;
}

.LeftSection_Images {
    box-sizing: border-box;
    width: 100%;
}