.LanguageSection {
    height: 25%;
    margin: 5%;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LanguageSection > .SkillsSection_Data {
    height: 16.5%;
}