.RightSection {
    height: 100%;
    width: 73%;
    background: linear-gradient(180deg, rgba(31,37,38,0.08) 0%, rgba(196,204,204,0.08) 38%, rgba(237,242,235,0.08) 76%);
    padding: 0 0 0 10%;
}

.RightSection_Gradient {
    height: 100%;
    width: 100%;
}